.bg{
    background-image: url("https://www.insploreconsultants.com/images/smart-investment/stock-market.jpg");
 height:600px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  }