<body>
<button type="button" class="btn btn-info ">
    <a routerLink="/addstockprice">Add</a></button>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
<table class="table table-hover table-sm" >

    <thead>
 
     <tr>

     <th>Companyname</th>
  
     <th>Stockexchange</th>
  
     <th>Currentprice</th>
  
     <th>Date</th>
  
     <th>Time</th>
  
  
  
     </tr>
  
    </thead>

    <tbody>
  
     <tr *ngFor="let stockprice of stockpriceList ">
  
     <td>{{stockprice.companyname}}</td>
  
     <td>{{stockprice.stockexchange}}</td>
  
     <td>{{stockprice.currentprice}}</td>
  
     <td>{{stockprice.date}}</td>
  
     <td>{{stockprice.time}}</td>
  
     <button (click)="deleteStockPrice(stockprice)" class='btn btn-success'>Delete</button>&nbsp;
  
     <button (click)="updateStockPrice(stockprice)" class='btn btn-primary' data-toggle="modal" data-target="#myModal">Update</button>
  
     </tr>
  
    </tbody><br>
  
   </table>
   </div>
   </div>
  </body>
  
  
  
  
  
