<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div class="bg">

    <div class="container">
        <h2>User Portal</h2>
        <button type="button" class="btn btn-info "><a routerLink="/uc1">IPO's</a></button>
        <button type="button" class="btn btn-success "><a routerLink="/uc2">Compare Company</a></button>
        <button type="button" class="btn btn-info "><a routerLink="uc3">Compare sector</a></button>
        <button type="button" class="btn btn-success "><a routerLink="uc4">Others</a></button>
    </div>


    
</div>
</html>