<body>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <br><br>
<div [hidden]="submitted" style="width: 400px;">



  <form [formGroup]="usersaveform" #saveUser1 (ngSubmit)="saveUser(saveUser1)" class="form-container">
   <div class="form-group">
 
 
 
    <label for="name">User Name</label>
 
 
 
    <input type="text" class="form-control" formControlName="username" data-toggle="tooltip" data-placement="right"
 
     title="Enter User Name">
 
 
 
    <div class="alert alert-danger"
 
     *ngIf="(usersaveform.get('username').touched) && (usersaveform.get('username').invalid)"
 
     style="margin-top: 5px;">
 
 
 
     <span *ngIf="usersaveform.get('username').errors.required">username is required</span>
 
 
 
     <span *ngIf="usersaveform.get('username').errors.minlength">
 
 
 
      MinLength Error
 
 
 
     </span>
 
 
 
    </div>
 
 
 
   </div>
 
 
 
 
 
 
 
   <div class="form-group">
 
 
 
    <label for="name">Password</label>
 
 
 
    <input type="password" class="form-control" formControlName="password" data-toggle="tooltip"
 
     data-placement="right" title="Enter Password">
 
 
 
    <div class="alert alert-danger"
 
     *ngIf="(usersaveform.get('password').touched) && (usersaveform.get('password').invalid)"
 
     style="margin-top: 5px;">
 
 
 
     <span *ngIf="usersaveform.get('password').errors.required">password is required</span>
 
 
 
     <span *ngIf="usersaveform.get('password').errors.minlength">
 
 
 
      MinLength Error
 
 
 
     </span>
 
 
 
    </div>
 
 
 
   </div>
 
 
 
   <button type="submit" class="btn btn-success">Submit</button>
 
 
 
  </form>
 
 
 
 </div>
</div>
<div class="col-lg-4"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
</div>
</body>